<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives</strong>
<ul>
    <li>List common Data Science languages</li>
    <li>List common Data Science Libraries</li>
    <li>List common Data Science Tools</li>
    <li>Introduce basic arithmetic operations in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li> R</li>
    <li> SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>TensorFlow</li>
    <li>Apache Spark</li>
    <li>Pandas</li>
</ol>

<table>
    <tr>
        <th><h3>Data Science Tools</h3></th>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>Spyder</td>
    </tr>
    <tr>
        <td>R Studio</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividng by 60
200/60

3.3333333333333335

<h2>Author</h2>
Samuel Ajigbotosho.